.title {
    margin-top: 80px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: rgb(61, 63, 50);
    background-color: rgb(201, 201, 201);
    font-family: Georgia, serif;
    font-size: 32px
    
    
}



body {
    background-color: rgb(255, 252, 245);
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
}

.manu {
    width: 9rem;
    height: auto;
    border-radius: 1rem;
}

a {
    color: rgb(233, 232, 216); 
}

.header {
    position: fixed;
    width: 100%;
    height: 3%;
    display: flex;
    gap: 1rem;
    background-color: rgb(0, 0, 0);
}

.sectiontitle1 {
    border-top: solid 2px;
    width: 30%;
    color: rgb(110, 106, 79);
    padding-top: 10px;
    text-align: left;
    margin-top: 40px;
}

.aboutmetext {
    font-size: 20px;
    align-items: center;
    text-align: justify;
}

.aboutmepage {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.sectiontitle2 {
    border-top: solid 2px;
    width: 30%;
    color: rgb(99, 88, 20);
    padding-top: 10px;
    text-align: left;
    margin-top: 40px;
}

.skillspage {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.skillpng {
    width: 9rem;
    height: auto;
    border-radius: 1rem;
}

.skilltext {
    font-size: 20px;
    align-items: center;
    text-align: justify;
}

.cert1, .cert2 {
    color:black
}
.certimages {
    display: flex
}
.cert1jpg, .cert2jpg {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.sectiontitle3 {
    border-top: solid 2px;
    width: 30%;
    color: rgb(121, 110, 38);
    padding-top: 10px;
    text-align: left;
    margin-top: 40px;
}

.linkpage {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 40px;
}

.linkpng {
    width: 9rem;
    height: auto;
    border-radius: 1rem;
}


.githublink2 {
    color: black;
}

.linkedin {
    color: black;
}